<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
</head>
<style>
/*body {font-size:75%;}*/
.rich-text {max-width:960px; margin:auto;}
table tr td { padding-right: 0.1em;padding-left: 0.1em;font-size:0.9em}
table{margin: auto; text-align:center; border-collapse: collapse; border-top: 2px solid #000000;border-bottom: 2px solid #000000;}
th{border-bottom:1px solid #000000; padding-right: 0.5em;padding-left: 0.5em}
div{text-align: center;margin-top: 10px;margin-bottom: 10px;box-sizing: border-box;}
h1{font-size: 1.5em;}
.subtitle {font-size: 1.33em;text-align: right;}
h2{font-size: 1.2em;}
h3{font-size: 1em;}
div img{max-width: 37em; height: auto;display:inline-block;}
table img{max-height: 1cm}
table + div{margin: 1.5em 0em 0em 0em;}
p{text-align: left;}
</style>
<body>
<section class = "rich-text">
<h1>{{ document.title }}</h1>
<h1 class="subtitle">——{{ document.subtitle }}</h1>
<p>{{ document.foreword }}</p>
<h3>品类目录：{{ document.category_catalogue }}</h3>
<h3>市场预测月销量：{{ document.sales_sum }} (注：此为Top100商品总月销售量)</h3>
<h3>销售机会月份：{{ document.sales_month }} </h3>
<h3 style="display : inline">商机评价：</h3>{{ document.business_opportunity_evaluation }}

{% for chapter in document.chapters %}
    <h2>{{ chapter.title }}</h2>
    {%- if chapter.foreword -%}
    <p>{{ chapter.foreword }}</p>
    {%- endif -%}
    <p>{{ chapter.content }}</p>
    {% for subchapter in chapter.subchapters %}
        <h3>{{ subchapter.title }}</h3>
        <p>{{ subchapter.foreword }}</p>
        {% for subsubchapter in subchapter.subchapters %}
            <p>{{ subsubchapter.foreword }}</p>
            <h3>{{ subsubchapter.title }}</h3>
            {% for image in subsubchapter.images %}
            <div><img src="{{ image }}"></div>
            {% endfor %}
            <p>{{ subsubchapter.content }}</p>
        {% endfor %}
        
        {% for table in subchapter.tables %}
            <table>
                <tr class='chapter_table'>
                {% for column in table.columns %}
                <th>{{column}}</th>
                {% endfor %}
                </tr>
                {% for index in table.index %}
                    <tr>
                    {% for column in table.columns %}
                        <td>{{ table[column][index] }}</td>
                    {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        {% endfor %}
        {% for image in subchapter.images %}
            <div><img src="{{ image }}"></div>
        {% endfor %}
        <p>{{ subchapter.content }}</p>
        {%- if subchapter.is_add_table -%}
        {% set table = subchapter.add_table %}
            <table>
                <tr class='chapter_table'>
                {% for column in table.columns %}
                <th>{{column}}</th>
                {% endfor %}
                </tr>
                {% for index in table.index %}
                    <tr>
                    {% for column in table.columns %}
                        <td>{{ table[column][index] }}</td>
                    {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        {%- endif -%}
        {%- if subchapter.image_added -%}
            <div><img src="{{ subchapter.image_added }}"></div>
        {%- endif -%}

    {% endfor %}
{% endfor %}
</section>
</body>
</html>
